.cabecero {
  height: 5vh;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
  background: url(assets/bg-pattern.png), #7b4397;
  background: url(assets/bg-pattern.png), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#2480dc));
  background: url(assets/bg-pattern.png), linear-gradient(to left, #7b4397, #2480dc)
}
