<div class="navi sticky-top">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="codification-tab" data-bs-toggle="tab" data-bs-target="#codification"
        type="button" role="tab" aria-controls="home" aria-selected="true">Codificación</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="decodification-tab" data-bs-toggle="tab" data-bs-target="#decodification"
        type="button" role="tab" aria-controls="home" aria-selected="true">Decodificación</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="blind-tab" data-bs-toggle="tab" data-bs-target="#blind"
        type="button" role="tab" aria-controls="home" aria-selected="true">Busqueda ciega</button>
    </li>
  </ul>
  
</div>
<div class="container mt-5 mb-5">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="codification" role="tabpanel" aria-labelledby="codification">
      <app-codification></app-codification>
    </div>
    <div class="tab-pane fade" id="decodification" role="tabpanel" aria-labelledby="decodification">
      <app-decodification></app-decodification>
    </div>
    <div class="tab-pane fade" id="blind" role="tabpanel" aria-labelledby="blind">
      <app-blind-search></app-blind-search>
    </div>
  </div>
</div>
