<div class="card">
  <div class="card-body">
    <form>
      <div class="input-group p-3">
        <input type="file" class="form-control" id="document" accept=".txt">
      </div>
      <div class="input-group p-3">
        <select class="form-select" id="numero_bit" name="numero_bit">
          <option selected>Seleccione el numero de bits</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="submit" class="btn btn-primary">Codificar</button>
      </div>
    </form>
  </div>
</div>
